table.wp-list-table {

	span.wc-type {
		display: block;
		height: 1em;
		margin: 0 auto;
		position: relative;
		text-indent: -9999px;
		width: 1em;

		&::before {
			-webkit-font-smoothing: antialiased;
			content: '\e006';
			font-family: WooCommerce;
			font-variant: normal;
			font-weight: 400;
			height: 100%;
			left: 0;
			line-height: 1;
			margin: 0;
			position: absolute;
			text-align: center;
			text-indent: 0;
			text-transform: none;
			top: 0;
			width: 100%;
		}
	}

	span.product-type {
		-moz-osx-font-smoothing: grayscale;
		display: block;
		font-size: 1.6em;
		height: 1em;
		margin: 0 auto;
		position: relative;
		text-indent: -9999px;
		width: 1em;

		&::before {
			content: '\e006';
			font-family: WooCommerce;
			font-variant: normal;
			font-weight: 400;
			height: 100%;
			left: 0;
			line-height: 1;
			margin: 0;
			position: absolute;
			text-align: center;
			text-indent: 0;
			text-transform: none;
			top: 0;
			width: 100%;
		}

		&.grouped::before {
			content: '\e002';
		}

		&.external::before {
			content: '\e034';
		}

		&.variable::before {
			content: '\e003';
		}

		&.downloadable::before {
			content: '\e001';
		}

		&.virtual::before {
			content: '\e000';
		}
	}
}
